<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>733691752913-lk89ufa7ri9icqf98id56rr9pldgn7ad.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.733691752913-lk89ufa7ri9icqf98id56rr9pldgn7ad</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>733691752913-qea48bebja8s8o6djfr6he1hubst7g75.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyCCmNjgk6-EO3Egt6aXmX0--Cwu-opGvow</string>
	<key>GCM_SENDER_ID</key>
	<string>733691752913</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.prezi.portable</string>
	<key>PROJECT_ID</key>
	<string>prezi-c72f9</string>
	<key>STORAGE_BUCKET</key>
	<string>prezi-c72f9.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:733691752913:ios:be1a90a04681e2f48670f0</string>
	<key>DATABASE_URL</key>
	<string>https://prezi-c72f9.firebaseio.com</string>
</dict>
</plist>